/* Reset default margin */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2EAE2;
    font-family: 'Outfit', sans-serif;
  }
  
  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: 100%;
  }
  
  .product-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-category {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6C7289;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 5px;
  }
  
  .product-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: #1C232B;
    margin-bottom: 10px;
    font-family: 'Fraunces', sans-serif;
  }
  
  .product-description {
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;
    color: #6C7289;
    font-family: 'Montserrat', sans-serif;
  }
  
  .product-price {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: #3D8168;
    margin-bottom: 20px;
    font-family: 'Fraunces', sans-serif;
  }
  
  .original-price {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #6C7289;
    text-decoration: line-through;
    margin-left: 10px;
  }
  
  .add-to-cart {
    background-color: #3D8168;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-to-cart img {
    margin-right: 10px;
  }
  
  
  .add-to-cart:hover {
    background-color: #2C5F4A;
  }

  @media (max-width: 600px) {
    .product-card {
      grid-template-columns: 1fr;
    }
  
    .product-image {
      order: -1; 
    }
  }